
<!DOCTYPE html>
<html>
<head>
<title>Shopping Cart</title>
<style>
.admin div {
  margin-bottom: 10px;
}
<style type="text/css">
.admin-options a {
  float: right;
  margin-right: 50px;
  display: inline-block;
}
</style>
</style>
<link rel="stylesheet" type="text/css" href="/css/c_style.css">
</head>
<body>

 <span class="link1">
        <div class="header">
            <table width="100%" cellspacing="8"  >
            <tr style="font-size:15px;font-weight:bold">
            <td width="25%"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcScyYC_djsYBZBcicIxMrDH-    cHI2wICk1fvoK40XAbdFHP9R9fZ" height="80" ></td>
            <td align="right" width="15%"><a href="/" >Home</a></td>
            <td align="center" width="15%"><a href="/products" >Products</a></td>
            <td align="left" width="20%"><a href="/" >Contact Us</a></td>
                                <% if (user) { %>
                                    <td align="right" width="5%"><a href="/user/profile" ><%= user.user_id %></a></td>
                                    <td align="right" width="5%"><a href="/user/logout" >logout</a></td>
                                <% } else { %>
                                    <td align="left" width="5%"><a href="/user/signin" >signin</a></td>
                                    <td align="center" width="5%"><a href="/user/signup" >signup</a></td>
                                <% } %>
            <td align="center" width="5%"><a href="/add-to-cart/shopping-cart" >Cart</a></td>
            </tr>
            </table>
  </div>
</span>

<div class="admin-options" align="right" >
  <a href="/admin" style="text-decoration:none"><h3>Admin</h3></a>
</div>

      <div>
        <h4>Check Product Details</h4>

        <form action="/admin/updateProduct" method="post" name="title">
          <label for="name" >Name: </label>
          <input type="text" name="title" size="30">
          <input type="submit" value="submit">
        </form> 
        
      </div>

      
    <% if(!product){ %>
     <p>product not found!</p>
    <% } else{ %>
      <p>product found</p>

      <div align="center">
     <table style=" solid #d9d9d9"">
     <form action="/admin/updateProduct/<%= product._id %>" method="post" name="updateProduct">
     <table cellspacing="15">
       <tr>
         <td align="left"><h2 style="color:black">Product Details</h2></td>
       </tr>
       <tr>
          <td id="title">
            <label for="title">Title:</label>
            <%= product.title %><br>
            <input type="hidden" name="title" size="30" placeholder="New Title" disabled required/>
            <button name="title" id="title" onclick="myFunction(id)" >Edit</button><br>
          </td>
      </tr>      
      <tr>
          <td id="price">
            <label for="price" >Price:</label>
            <%= product.price %><br>
            <input type="hidden" name="price" size="30" placeholder="New Price" disabled required/>
            <button name="price" id="price" onclick="myFunction(id)" >Edit</button><br>
          </td>
      </tr>
      <tr>
          <td id="overview">
            <label for="overview" >Overview:</label>
            <%= product.overview %><br>
            <input type="hidden" name="overview" size="30" placeholder="New Overview" disabled required/>
            <button name="overview" id="overview" onclick="myFunction(id)" >Edit</button><br>
          </td>
      </tr>
      <tr>
          <td id="catagory"> 
            <label for="catagory" >Catagory:</label>
            <%= product.catagory %><br>
            <input type="hidden" name="catagory" size="30" placeholder="New Catagory" disabled required/>
            <button name="catagory" id="catagory" onclick="myFunction(id)" >Edit</button><br>
          </td>
      </tr>
      <tr>
          <td id="image_url">
            <label for="image_url" >Image_url:</label>
            <%= product.image_url %><br>
            <input type="hidden" name="image_url" size="30" placeholder="New image_url" disabled required  />
            <button name="image_url" id="image_url" onclick="myFunction(id)" >Edit</button><br>
          </td>
      </tr>
      <tr>
          <td align="center"><input type="submit" value="SUBMIT"style="backgroundcolor:#B0C4DE;color:black;height:45px;width:100px; border-radius: 25px">
          </td>
      </tr>
    </table>
    </form>
  </table>
  </div>

    <% } %>

<script>
  function myFunction(id){
    var x = document.getElementById(id);
    var button = x.getElementsByTagName("button");
    var input = x.getElementsByTagName("input");
    button[0].disabled=true ;
    input[0].type = "text";
    input[0].disabled=false;
  }
</script>




<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


<span class="link3">
    <div class="footer">
       <table width="100%" cellspacing="8" align="center">
       <tr>
         <td align="center" style="font-size:20px;font-weight:bold">About</td>
         <td align="center" style="font-size:20px;font-weight:bold">My Account</td>
         <td align="center" style="font-size:20px;font-weight:bold">Information</td>
         <td align="center" style="font-size:20px;font-weight:bold">Contact Us</td>
       </tr>
       <tr>
          <td rowspan="3" align="center" valign="top">Welcome to our <br> ever growing Basket<br>An exciting place for the whole family to shop.</td>
          <td align="center" style="color:#CCCCCC"><a href="/user/signin" >Signin</a></td>
          <td align="center" style="color:#CCCCCC"><a href="/" >Home</a></td>
          <td align="center">Crystal IT Park,Indore(M.P),India</td>
       </tr>
       <tr>
          <td align="center" style="color:#CCCCCC"><a href="/user/signup" >Create Account</a></td>
          <td align="center" style="color:#CCCCCC"><a href="/products" >Products</a></td>
          <td align="center">+91 9009406777</td>
       </tr>
       <tr>
          <td></td>
          <td align="center" style="color:#CCCCCC"><a href="mail.jsp" >MailUs</a></td>
          <td align="center" style="color:#CCCCCC"><a href="mailto:hello@systango.com" >hello@systango.com</a></td>
       </tr>
       </table>
    </div></span>
        <p id="footer">&copy; Basket Shoppers Limited</p>
</body>
</html>
