
<!DOCTYPE html>
<html>
<head>
<title>Shopping Cart</title>
<link rel="stylesheet" type="text/css" href="css/c_style.css">
</head>
<body>

<span class="link1">
        <div class="header">
            <table width="100%" cellspacing="8"  >
            <tr style="font-size:15px;font-weight:bold">
            <td width="25%"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcScyYC_djsYBZBcicIxMrDH-    cHI2wICk1fvoK40XAbdFHP9R9fZ" height="80" ></td>
            <td align="right" width="15%"><a href="/" >Home</a></td>
            <td align="center" width="15%"><a href="/products" >Products</a></td>
            <td align="left" width="20%"><a href="/" >Contact Us</a></td>
                                <% if (user) { %>
                                    <td align="right" width="5%"><a href="/user/profile" ><%= user.user_id %></a></td>
                                    <td align="right" width="5%"><a href="/user/logout" >logout</a></td>
                                <% } else { %>
                                    <td align="left" width="5%"><a href="/user/signin" >signin</a></td>
                                    <td align="center" width="5%"><a href="/user/signup" >signup</a></td>
                                <% } %>
            <td align="center" width="5%"><a href="/add-to-cart/shopping-cart" >Cart</a></td>
            </tr>
            </table>
  </div>
</span>


    <br>
    <center>
    <h1>Items in your cart</h1>
    <table width="70%" style="border: solid 1px black" cellspacing="5px">
    <tr style="color: black">
      <td align="center"><span class="table">Product</span></td>
      <td align="center"><span class="table">Price</span></td>
      <td align="center"><span class="table">Quantity</span></td>
      <td align="center"><span class="table">Total</span></td>
    </tr>

<% for(var i=0; i<products.length; i++) { %>
    <tr style="color: black">
      <td align="center"><span class="table"><%= products[i].item.title %></span></td>
      <td align="center"><span class="table"><%= products[i].item.price %></span></td>
      <td align="center"><span class="table"><%= products[i].qty %></span></td>
      <td align="center"><span class="table"><%= products[i].price %></span></td>
      <td>
          <form action="/add-to-cart/reduce/<%= products[i].item._id %>" method="get" name="reduce">
          <button name="name" type="submit" value="" style="backgroundcolor:#B0C4DE;color:black;height:25px;width:60px; border-radius: 15px">reduce</button>
          </form> 
          </td>
    </tr>
<% } %>

   </table>
   <br>
   <p class="more">Want to shop more??</p>
     <span class="link2">
     <table width="35%">
       <tr>
         <td align="center">
            <a href="/products">Products</a>
         </td>
    </table>
    </span>

    <h2>
    Your Order Total : Rs <%= totalPrice %>
   </h2>
    <form action="/add-to-cart/checkout">
      <input type="submit" value="Proceed To Checkout" style="background-color:#B0C4DE;color:black;font-size:25px">
    </form>
    </center>
    

<span class="link3">
    <div class="footer">
       <table width="100%" cellspacing="8" align="center">
       <tr>
         <td align="center" style="font-size:20px;font-weight:bold">About</td>
         <td align="center" style="font-size:20px;font-weight:bold">My Account</td>
         <td align="center" style="font-size:20px;font-weight:bold">Information</td>
         <td align="center" style="font-size:20px;font-weight:bold">Contact Us</td>
       </tr>
       <tr>
          <td rowspan="3" align="center" valign="top">Welcome to our <br> ever growing Basket<br>An exciting place for the whole family to shop.</td>
          <td align="center" style="color:#CCCCCC"><a href="/user/signin" >Signin</a></td>
          <td align="center" style="color:#CCCCCC"><a href="/" >Home</a></td>
          <td align="center">Crystal IT Park,Indore(M.P),India</td>
       </tr>
       <tr>
          <td align="center" style="color:#CCCCCC"><a href="/user/signup" >Create Account</a></td>
          <td align="center" style="color:#CCCCCC"><a href="/products" >Products</a></td>
          <td align="center">+91 9009406777</td>
       </tr>
       <tr>
          <td></td>
          <td align="center" style="color:#CCCCCC"><a href="mail.jsp" >MailUs</a></td>
          <td align="center" style="color:#CCCCCC"><a href="mailto:hello@systango.com" >hello@systango.com</a></td>
       </tr>
       </table>
    </div></span>
        <p id="footer">&copy; Basket Shoppers Limited</p>
</body>
</html>
